<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--任务调度网站站点url-->
    <add key="TaskApiUrl" value="http://localhost:5002/api/" />
    <!--当前节点id 与管理站点的id号对应-->
    <add key="NodeID" value="7" />
    <add key="WindowsServiceDiscription" value="分布式任务调度程序windows服务（负责task的启动,停止,恢复,释放,预警等功能）" />
    <add key="WindowsServiceDisplayName" value="分布式任务调度中心节点" />
    <add key="WindowsServiceName" value="TaskManagerNodeService" />
  </appSettings>
<connectionStrings>
    <!--测试-->
    <add name="HotelDBEntities" connectionString="metadata=res://*/HotelDBModel.csdl|res://*/HotelDBModel.ssdl|res://*/HotelDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.104;initial catalog=HotelDB;persist security info=True;user id=HotelDBUser;password=HOTEL789db&amp;*h;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HotelPriceDBEntities" connectionString="metadata=res://*/HotelPriceDBModel.csdl|res://*/HotelPriceDBModel.ssdl|res://*/HotelPriceDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.104;initial catalog=HotelPriceDB;persist security info=True;user id=HotelDBUser;password=HOTEL789db&amp;*h;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PublicLibDBEntities" connectionString="metadata=res://*/PublicLibDBModel.csdl|res://*/PublicLibDBModel.ssdl|res://*/PublicLibDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.104;initial catalog=BaseDB;persist security info=True;user id=BaseDBUser;password=BASE123db$%^;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--线上-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>